.no-login {
  margin: 117px auto 0 auto;
  width: 322px;
  img {
    transform: translate(-5px);
  }
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
      'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;
    text-align: center;
    &.text {
      transform: translate(-7px);
    }
    &:nth-child(2) {
      margin-top: 10px;
      font-size: 18px;
      color: #000a1a;
      font-weight: 600;
      height: 25px;
      line-height: 25px;
    }
    &:nth-child(3) {
      margin-top: 8px;
      transform: translate(-8px);
      font-size: 14px;
      color: #323b47;
      height: 20px;
      line-height: 20px;
    }
  }
}
.login {
  margin: 22px auto;
  width: 126px;
  height: 40px;
  transform: translate(-8px);
  background-color: #0079fa;
  border-radius: 6px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
    'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;

  &:hover {
    background-color: #0a81ff;
  }

  &:active {
    background-color: #0071eb;
  }
}
