.casedetail {
  max-width: 1280px;
  margin: 0 auto;
  height: 975px;

  .caseInfo, .authorInfo {
    background:#fff;
    border-radius:8px;
  }

  .caseInfo {
    max-width: 760px;
    min-width: 760px;
    height: 975px;
    padding: 40px 30px 65px 30px;

    h4 {
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 40px;
    }

    .info {
      float: right;

      .watchicon {
        width:20px;
        height:14px;
      }

      .likeicon,
      .dislikeicon {
        margin-left: 20px;
        width:18px;
        height:16px;
        cursor: pointer;
      }
    }

    img.caseimg {
      width: 700px;
      height: 622px;
    }

    .description {
      font-family:PingFangSC-Regular;
      font-size:16px;
      color:#323b47;
      letter-spacing:0;
      line-height:30px;
      text-align:left;
    }
  }

  .authorInfo {
    min-width: 315px;
    max-width: 315px;
    height:190px;
    margin-left: 35px;
    padding: 25px 20px;

    img {
      margin-bottom: 15px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    .author {
      margin-bottom: 15px;
      font-family:PingFangSC-Regular;
      font-size:14px;
      color:#000a1a;
      letter-spacing:0;
      text-align:left;
    }

    .slogan {
      font-family:PingFangSC-Regular;
      font-size:14px;
      color:#969799;
      letter-spacing:0;
      text-align:left;
    }
  }
}
