<div class="data-demand-feedback">
  <i class="icon close iconfont icon-x" (click)="bsModalRef.hide()"></i>
  <div *ngIf="feedback">
    <h4 [ngStyle]="{ 'margin-bottom': type === 'data' ? '24px' : '40px' }">{{ title }}</h4>
    <input [(ngModel)]="name" type="text" placeholder="你的称呼" />
    <input [(ngModel)]="contact" type="text" placeholder="你的手机号或邮箱" />
    <div class="textarea">
      <textarea
        [(ngModel)]="content"
        placeholder="{{ yourRequest }}"
        [class.error-tip]="textExceed"
        (keyup)="onTextareaChange($event)"
      ></textarea>
      <span [ngClass]="{ 'text-prompt': textExceed }">{{ textPrompt }}</span>
    </div>
    <div class="feedback-btn" (click)="feedbackSubmit()">提交</div>
  </div>
</div>
