.swiper-container {
  margin: 0 auto;
  height: 100%;
  width: calc(100% + 1px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Monaco", "Menlo",  "Consolas", sans-serif !important;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  transform: translate3d(0,0,0);
  li {
    transform: translate3d(0,0,0);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    width: calc(100% / 5);
    margin-right: 18px;
    position: relative;

    .dynamic-chart {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 1;
      width: 42px;
      height: 23px;
      line-height: 23px;
      background-image: linear-gradient(180deg, #ff896f 0%, #ff0d65 100%);
      border-radius: 3px;
      text-align: center;
      font-size: 12px;
      color: #fff;
    }
    .new {
      position: absolute;
      right: 12px;
      top: 12px;
      z-index: 1;
      width: 26px;
	    height: 8px;
      background: url(/dyassets/images/index-home/new.svg);
    }
  }
}

@media screen and (max-width: 1366px) {
  ul {
    min-width: 930px;
    li {
      width: calc((100% - 72px) / 5) !important;
      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 1367px) {
  ul li {
    width: calc((100% - 90px) / 6) !important;
    &:nth-of-type(6n) {
      margin-right: 0;
    }
  }
}

:host::ng-deep {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.8;
    width: 48px;
    height: 48px;
    box-shadow: 0px 6px 12px 0px rgba(48, 62, 83, 0.2);
    transform: translate(0, -15px);
    border-radius: 50%;
    background: #fff url(/dyassets/images/share/dy-ui/dy-carousel/right.svg) no-repeat center / 7px 12px;
  }
  .swiper-button-prev {
    left: 0;
    background: #fff url(/dyassets/images/share/dy-ui/dy-carousel/left.svg) no-repeat center / 7px 12px;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-disabled {
    display: none;
  }
}
