<div class="beginner-container">
  <div class="title">
    <p class="conf_title">完成以下三步，立刻领取15天会员<button>会员详情</button></p>
  </div>
  <div class="content-wrapper">
    <div class="content-list">
      <div class="content-title">项目</div>
      <div class="content-status">状态</div>
      <div class="content-award">奖励时长</div>
    </div>
    <div class="content-list">
      <div class="content-title">验证邮箱</div>
      <div class="content-status"><i></i>尚未验证</div>
      <div class="content-award">5天</div>
      <button>立即验证</button>
    </div>
    <div class="content-list">
      <div class="content-title">验证微信</div>
      <div class="content-status"><i></i>尚未验证</div>
      <div class="content-award">3天</div>
      <button>立即验证</button>
    </div>
    <div class="content-list">
      <div class="content-title">关注镝数微信号</div>
      <div class="content-status"><i></i>尚未验证</div>
      <div class="content-award">7天</div>
      <button>立即验证</button>
    </div>
  </div>
  <div class="tips">
    <p><i></i>温馨提示：完成任务后刷新此页面，显示实时奖励状态。</p>
  </div>
</div>
