<div class="search-wrapper" [ngStyle]="{ width: width + 'px' }">
  <div class="search">
    <div
      class="tag-wrapper"
      *ngIf="isShowHeadTag"
      (mouseenter)="isShowTagMenu = true"
      (mouseleave)="isShowTagMenu = false"
    >
      {{ headTags.showValue }} <i></i>
      <ul class="tag-content" *ngIf="isShowTagMenu">
        <li *ngFor="let item of headTags.tags" (click)="changeTag(item)">{{ item }}</li>
      </ul>
    </div>
    <div class="search-wrapper" [ngClass]="{ tag: isShowHeadTag }">
      <i (click)="search()"></i>
      <input
        #input
        type="text"
        [placeholder]="placeHolderText"
        [(ngModel)]="keyWord"
        (keypress)="onKeyPress($event)"
        (click)="handleSearchInputClick()"
        (blur)="handleShowDropdown()"
      />
      <i class="delete" *ngIf="keyWord" (click)="delete()"></i>
    </div>
  </div>
  <div class="hot" *ngIf="isShowHot">
    <span *ngFor="let item of hotWords; let i = index" (click)="hotSearch(item.word, i + 1)">{{ item.word }}</span>
  </div>
  <ul class="dropdown" *ngIf="isShowDropdown" [ngClass]="{ tag: isShowHeadTag }">
    <li *ngFor="let item of hotWords; let i = index" (click)="hotSearch(item.word, i + 1)">
      <span>{{ i + 1 }}</span>
      {{ item.word }}
    </li>
  </ul>
</div>
