.create-project {
  width: 100%;
  height: 100%;
  padding: 42px 97px 79px 75px;
  margin-top: 3px;
  background: #f7f7f7;

  .from-data {
    margin-bottom: 50px;

    .data-title {
      margin-bottom: 25px;
      font-size: 18px;
      color: #08080d;
      font-weight: bold;
    }

    .data-list {
      ul {
        overflow: hidden;
        padding: 0;
        margin: 0;
      }

      li.data-list-item {
        cursor: pointer;
        float: left;
        width: 200px;
        height: 65px;
        margin-right: 45px;
        overflow: hidden;

        .data-cover {
          width: 65px;
          height: 65px;
          border-radius: 9px;
          float: left;
          background: #0500cb;
        }

        .data-content {
          float: left;
          padding: 10px 0;
          margin-left: 8px;

          h5 {
            font-size: 16px;
            color: #08080d;
            font-weight: normal;
          }

          p {
            margin-bottom: 0;
            font-size: 14px;
            color: #969799;
          }

          &:hover h5 {
            font-weight: bold;
          }
        }

        &.data-store .data-cover {
          // background: linear-gradient(180deg,#6e00ff 0%,#3c00ff 100%);
          box-shadow: 0px 2px 6px 0px rgba(64, 0, 255, 0.3);
          border-radius: 9.1px;
          position: relative;

          i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 34px;
            height: 30px;
            background: url(/dyassets/images/data-set.svg) no-repeat center;
          }
        }

        &.empty-table .data-cover {
          // background: linear-gradient(180deg,#6e00ff 0%,#3c00ff 100%);
          box-shadow: 0px 2px 6px 0px rgba(64, 0, 255, 0.3);
          border-radius: 9.1px;
          position: relative;

          i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 31px;
            height: 31px;
            background: url(/dyassets/images/blank-excel.svg) no-repeat center;
          }
        }

        &.upload-data .data-cover {
          // background: linear-gradient(180deg,#6e00ff 0%,#3c00ff 100%);
          box-shadow: 0px 2px 6px 0px rgba(64, 0, 255, 0.3);
          border-radius: 9.1px;
          position: relative;

          i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 31px;
            height: 33px;
            background: url(/dyassets/images/upload-data.svg) no-repeat center;
          }
        }
      }
    }
  }

  .from-template {

    ul {
      padding: 0;
      margin: 0;
    }

    .template-title {
      margin-bottom: 0;
      font-size: 18px;
      color: #08080d;
      font-weight: bold;
    }

    .template-list {
      margin-left: -10px;

      .view-more {
        width: 835px;
        text-align: right;
        margin-bottom: 16px;
        height: 17px;
        margin-top: 3px;
        cursor: pointer;
        font-size: 12px;
        color: #969799;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          top: 3px;
          right: -10px;
          width: 8px;
          height: 8px;
          border-top: 1px solid #5c6066;
          border-right: 1px solid #5c6066;
          border-left: none;
          border-bottom: none;
          transform: rotate(45deg);
        }
      }

      .view-info-more {
        margin-bottom: 0;
      }

      ul {
        overflow: hidden;
      }

      .info {

        overflow: visible;

        .template-list-item {
          height: 174px;

          .template-cover {
            height: 144px;

            img {
              width: auto;
              height: auto;
              max-height: 100%;
              max-width: 100%;
            }
          }
        }
      }

      li.template-list-item {
        float: left;
        width: 140px;
        height: 152px;
        margin: 0 40px 25px 0;
        cursor: pointer;
        position: relative;

        .template-cover {
          width: 120px;
          height: 122px;
          border-radius: 2px;
          border: solid 1px #e0e0e0;
          margin: 0 auto;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &:hover {
            i {
              transform: rotate(90deg);
            }
          }

          i {
            display: block;
            width: 35px;
            height: 35px;
            background: url('/dyassets/images/add-black.svg') no-repeat center/cover;
            transition: all .3s linear;
          }

          img {
            width: 100%;
            background-repeat: no-repeat;
          }

          .vip-level {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 12px;
            border-radius: 4px;
            width: 36px;
            height: 22px;
            background: url("/dyassets/images/person/vip.svg") no-repeat center / contain;
          }
        }

        .border-dashed {
          border: dashed 1px #c4c9cf !important;
        }

        .template-info-cover {
          align-items: flex-end;
          border: none;
          background: #f7f7f7;

          img {
            border: 1px solid #e0e0e0;
          }

          img:nth-of-type(4) {
            width: 110px;
          }
        }

        h5 {
          text-align: center;
          padding: 0;
          margin-bottom: 0;
          height: 20px;
          margin-top: 10px;
          line-height: 20px;
          font-size: 14px;
          color: #323b47;
          font-weight: normal;
        }

        h5.title {
          font-weight: bold !important;
        }

        &:nth-of-type(5n) {
          margin-right: 0;
        }

        &:not(.first) {
          width: 138px;

          &:hover h5 {
            font-weight: bold !important;
          }
        }
      }
    }
  }
}

:host::ng-deep {
  .dataClass p {
    text-align: left;
    margin: 0;
  }
}

//   .blankClass {
//     width: 150px;
//   }
//   .uploadClass {
//     width: 150px;
//   }