<div class="create-project">

  <div class="from-data">
    <h4 class="data-title">从数据开始</h4>

    <div class="data-list">
      <ul>
        <ng-template #dataTemplate>
          <div [innerHtml]="dataHtml"></div>
        </ng-template>
        <li class="data-list-item data-store" [tooltip]="dataTemplate" containerClass="dataClass">
          <a href="https://dydata.io/appv2/#/pages/store/list" target="_blank">
            <div class="data-cover"><i></i></div>
            <div class="data-content">
              <h5>找数据</h5>
              <p>提供多主题数据选择</p>
            </div>
          </a>
        </li>
        <ng-template #blankTemplate>
          <div [innerHtml]="blankHtml"></div>
        </ng-template>
        <li class="data-list-item empty-table" [tooltip]="blankTemplate" containerClass="dataClass" (click)='createBlankExcel()'>
          <div class="data-cover"><i></i></div>
          <div class="data-content">
            <h5>空白表格</h5>
            <p>复制粘贴数据即可</p>
          </div>
        </li>
        <ng-template #uploadTemplate>
          <div [innerHtml]="uploadHtml"></div>
        </ng-template>
        <li class="data-list-item upload-data" [tooltip]="uploadTemplate" containerClass="dataClass" (click)='dataUpload()'>
          <div class="data-cover"><i></i></div>
          <div class="data-content">
            <h5>上传数据</h5>
            <p>上传Excel/CSV文件</p>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="from-template">
    <h4 class="template-title">从模版开始</h4>

    <div class="template-list">
      <div class="view-more" (click)="createProject('chart')">查看更多</div>
      <ul class="chart">
        <li class="template-list-item first" tooltip="50多种图表选择，支持PNG/SVG/GIF格式导出" (click)="createProject('chart')">
          <div class="template-cover border-dashed"><i></i></div>
          <h5 class="title">图表</h5>
        </li>
        <li class="template-list-item" *ngFor="let item of chartTemplates;let i = index"
          (click)='createOneChart(item, i)'>
          <div class="template-cover">
            <img [src]="item.thumb" alt="">
            <!-- <div class="vip-level" *ngIf="!item.isFree"></div> -->
          </div>
          <h5>{{item.title}}</h5>
        </li>
      </ul>
    </div>

    <div class="template-list template-info-list">
      <div class="view-more view-info-more" (click)="createProject('infographic')">查看更多</div>
      <ul class="chart info">
        <li class="template-list-item first" tooltip="图表、文字等元素自由布局，剪辑动人数据故事" (click)="createProject('infographic')">
          <div class="template-cover border-dashed"><i></i></div>
          <h5 class="title">信息图</h5>
        </li>
        <li class="template-list-item" *ngFor="let item of infoTemplates;let i = index"
          (click)='openOneType(item.id, i)'>
          <div class="template-cover template-info-cover">
            <img [src]="item.thumb" alt="">
            <!-- <div class="vip-level" *ngIf="item.isFree !== '0'">会员</div> -->
          </div>
          <h5>{{item.title}}</h5>
        </li>
      </ul>
    </div>

  </div>
</div>
