:host {
  .edit-container {
    position: relative;
    width: 100%;
  }

  .edit-area {
    padding: 46px;
    position: absolute;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    position: relative;
    user-select: none;
  }
}

:host ::ng-deep {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
    'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;
}
