<lx-dy-search
  [width]="400"
  (onSearch)="onSearchEmitValue($event)"
  (onDeleteBtnClick)="onSearchEmitValue('')"
  [isShowHot]="false"
  [hotWords]="hotWords"
  [keyWord]="keyword"
  [ngStyle]="{ top: isShowTip ? '56px' : '8px' }"
  [placeHolderText]="'搜索图文模板'"
></lx-dy-search>
<div class="bread-nav">
  <a [routerLink]="['/pages', 'home', 'index']">发现</a> > <a (click)="reload()">数据图文</a
  ><span *ngIf="keyword">
    > 搜索“{{ keyword }}”，共找到 <i>{{ totalNum }}</i> 个结果</span
  >
</div>
<div class="create-project-container">
  <div class="change-chart-box">
    <div class="info-scene">
      <div class="info-scene-title">场景：</div>
      <div class="info-scene-item">
        <ul>
          <li
            [ngClass]="{ active: infoClassifyIndex === i }"
            *ngFor="let item of infoFirstClassify; let i = index"
            (click)="changeInfoClassify(i, item)"
            [hidden]="item.name === '营销长图' || item.name === '工作报告' || item.name === '头条号首图'"
          >
            {{ item.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="info-scene top-8">
      <div class="info-scene-title">类型：</div>
      <div class="info-scene-item">
        <ul>
          <li
            [ngClass]="{ active: infoSecondClassifyIndex === i }"
            *ngFor="let item of infoSecondClassify; let i = index"
            (click)="changeInfoClassify(i, item)"
          >
            {{ item.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="change-chart-box">
    <div class="info-scene">
      <div class="info-scene-item">
        <ul>
          <li
            [ngClass]="{ 'order-active': infoOrderIndex === i }"
            (click)="changeInfoOrder(i, item)"
            *ngFor="let item of infoOrders; let i = index"
          >
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 信息图 -->
  <div class="masonry-loading" *ngIf="showMasonryLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="empty-container" *ngIf="(isSearchResult || !totalNum) && !showMasonryLoading">
    <div class="no-template">
      <img src="/dyassets/images/datastore/no-search-result.png" />
      <div>暂未发现符合搜索条件的结果</div>
      <p>请<a href="javascript:;" (click)="showTemplateDemandFeedback()">点击这里</a>提出你的模板需求</p>
    </div>
  </div>

  <ul class="waterfall" [ngStyle]="{ height: containerHeight + 'px' }" *ngIf="!isSearchResult && totalNum">
    <li
      *ngFor="let item of showWaterfallArr; let i = index"
      (mouseenter)="mouseEnterHandler(item, i)"
      (mouseleave)="mouseLeaveHandler()"
      (click)="previewInfo(item)"
      [ngClass]="{ 'hover-style': hoverIndex === i }"
      [ngStyle]="{ width: item.width + 'px', height: item.height + 'px', top: item.top + 'px', left: item.left + 'px' }"
    >
      <div class="dynamic-chart" *ngIf="item.dynamic === '1'">动态</div>
      <img [src]="item.url.split('?')[0]" alt="" />
      <p class="waterfall-title">
        {{ item.title }}<span *ngIf="i === 0">&nbsp;{{ templateSize }}</span>
      </p>
      <div class="edit" *ngIf="i !== 0 && hoverIndex === i" (click)="createInfoTemplateHandle($event, item)">
        <i></i><span>编辑</span>
      </div>
      <div class="waterfall-introduce" *ngIf="hoverIndex === i">
        <p class="title" [title]="item.title">
          {{ item.title }}<span *ngIf="i === 0">&nbsp;{{ templateSize }}</span>
        </p>
        <p class="collect-show" *ngIf="i !== 0">
          <span [ngClass]="{ active: isLike }" class="collect" (click)="toggleLike($event, item)"
            ><i [ngClass]="{ active: isLike }"></i>{{ isLikeText }}</span
          >
          <span class="used"><i></i>{{ item.count }}</span>
        </p>
      </div>
    </li>
  </ul>
</div>

<lx-dy-footer></lx-dy-footer>
