.create-project {
  background: #EDEEF0;

  ul, li {list-style: none;}
  ul {padding: 0;margin: 0;}

  .title-box {
    overflow: hidden;
    height: 50px;
    padding: 10px 30px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;

    .title-left {
      float: left;

      .title-img {
        width: 20px;
        height: 18px;
        vertical-align: middle;
        background: url(/dyassets/images/chart-list/bingtu.svg);
        display: inline-block;
        background-size: cover;
        margin-right: 8px;
      }
      .title {
        font-size: 18px;
        color: #323b47;
        vertical-align: middle;
        margin-top: 5px;
      }
    }

    .title-right {
      float: right;
      margin-top: 5px;
      cursor: pointer;

      .close {
        font-size: 20px;
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }

  .create-project-container {
    padding: 15px 50px;
    margin: 0 auto;
    // padding: 15px 37px 15px 50px;
    // overflow-y: scroll;
    border-radius: 0 0 4px 4px;
    background: #EDEEF0;

    .change-chart-box {
      border: 1px solid #e0e0e0;
      padding: 15px 25px;
      background: #fff;
      margin-bottom: 15px;

      .change-chart-title {
        font-size: 14px;
        color: #333;
        margin-right: 15px;
        color: #000a1a;
      }

      .change-chart-list {
        line-height: 32px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .change-chart-item {
        font-size: 14px;
	      color: #5c6066;
        padding: 5px 12px;
        cursor: pointer;
        margin-right: 15px;

        &.active {
          color: #ffffff;
          background: #0079fa;
        }
      }

      .change-chart-template-list {

        ul {
          overflow: hidden;
          padding-left: 55px;

          li {
            float: left;
            width: 65px;
            height: 75px;
            margin-right: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            border: 2px solid transparent;
            p {
              font-family: PingFangSC-Medium;
              font-size: 12px !important;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              color: #969799;
              text-align: center;
            }
            &.active {
              // border: 2px solid #90C4FD;
              // background-color: #F0F7FF;
              background-color: #e5f1fe;
              border-radius: 2px;
              p {
                color: #0079fa;
                font-family: PingFangSC-Medium;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0px;
              }
            }

            .cover {
              height: 50px;
              text-align: center;
              padding: 8px 0;
            }

          }
        }

      }

      .info-scene {
        display: flex;
        flex-direction: row;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #5c6066;
        &:last-child {
          height: 30px;
        }
        .info-scene-title {
          width: 42px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          margin-top: 5px;
        }
        .info-scene-item {
          flex: 1;
          line-height: 30px;
          ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            li {
              height: 30px;
              line-height: 30px;
              box-sizing: border-box;
              padding: 0px 12px;
              margin-left: 20px;
              margin-bottom: 15px;
              cursor: pointer;
              &.active {
                color: #ffffff;
                background: #0079fa;
              }
            }
          }
        }
        .info-scene-last {
          line-height: 20px;
          position: relative;
          height: 20px;
          padding-right: 8px;
          z-index: 3;
          left: 10px;
          margin-top: 5px;
          text-align: center;
          color: #969799;
          cursor: pointer;
          &::after {
            display: block;
            content: '';
            width: 10px;
            height: 7px;
            top: 7px;
            right: -10px;
            position: absolute;
            background: url(/dyassets/images/drop-down-icon-gray.svg) no-repeat center/cover;
          }
          &.active {
            &::after {
              display: block;
              content: '';
              width: 10px;
              height: 7px;
              top: 7px;
              right: -10px;
              position: absolute;
              background: url(/dyassets/images/drop-up-icon-gray.svg) no-repeat center/cover;
            }
          }
          ul {
            position: absolute;
            text-align: left;
            top: 25px;
            left: 7px;
            width: 98px;
            // height: 100px;
            padding: 5px 0;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
            border-radius: 2px;
            background: #fff;
            li {
              list-style: none;
              height: 30px;
              background: #fff;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              color: #5c6066;
              line-height: 30px;
              padding-left: 16px;
              cursor: pointer;
              &:hover {
                background: #eaeaea;
              }
            }
            &:first-child {
              left: -3px;
            }
          }
        }
        .info-price {
          margin-left: 60px;
        }
      }
    }

    .template-list {
      width: calc(100% + 10px);
      margin-left: -4px;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
          width: 252px;
          margin-bottom: 15px;
          cursor: pointer;
          margin-left: 5px;
          margin-right: 5px;
          background: #fff;
          position: relative;
          transition: all .2s linear;
          z-index: 1;
          &:hover {
            z-index: 2;
            box-shadow: 0 15px 30px rgba(0,0,0,0.1);
            transform: translate(0, -8px);
          }

          .template-cover {
            width: 100%;
            // min-height: 200px;
            padding: 10px;
            position: relative;
            box-shadow: inset 0px -1px 0px 0px rgba(209, 209, 209, 0.5);

            .vip-recommend {
              position: absolute;
              left: 5px;
              top: 5px;
              color: #fff;
              background: #f5a623;
              font-size: 12px;
              padding: 3px 10px;
              border-radius: 4px;
            }

            .vip-level {
              display: block;
              position: absolute;
              top: 8px;
              right: 14px;
              width: 36px;
              height: 22px;
              border-radius: 4px;
              background: url(/dyassets/images/person/vip.svg) no-repeat center center / contain;
            }

            .new-chart {
              width: 43px;
              height: 20px;
              position: absolute;
              right: 5px;
              top: 5px;
              color: #fff;
              background: url(/dyassets/images/home-page/chart-new.svg) no-repeat center center / contain;
            }

            img {
              max-width: 100%;
              padding: 10px 0px;
              // max-height: 200px;
              height: 127px;
            }
          }

          .template-intro {
            overflow: hidden;
            height: 45px;
            line-height: 45px;
            padding: 0 10px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #4a4a4a;

            .template-title {
              float: left;
            }

            .template-view {
              float: right;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              color: #969799;
            }
          }
        }
      }
    }

    .infographic-template-list {
      width: calc(100% + 10px);
      margin: 0 auto;
      margin-left: -4px;
      .load-more {
        width: 100%;
        height: 32px;
        background: #fff;
        border-radius: 2px;
        color: #000;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
        font-family: PingFangSC-Medium;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
      }

      .masonry-item {
        // width: calc(91% / 4);
        width: 252px;
        margin-bottom: 15px;
        cursor: pointer;
        // margin-right: 2%;
        margin-right: 5px;
        margin-left: 5px;
        background: #fff;
        position: relative;
        transition: all .2s linear;
        z-index: 1;
        // min-height: 493px;
        box-shadow: 0px 1px 7px 0px rgba(200, 209, 224, 0.4);
        box-sizing: border-box;
        &:hover {
          z-index: 2;
          box-shadow: 0 15px 30px rgba(0,0,0,0.1);
          transform: translate(0, -8px);
        }

        &:nth-child(4n) {
          margin-right: 0 !important;
        }

        .blank-info {
          // background: #f6f6f6 url(/dyassets/images/create-project.png) no-repeat center/contain;
          // background-color: #f6f6f6
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          img {
            width: 125px !important;
            height: 87px !important;
            padding: 10px !important;
            z-index: 2;
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            background: #f6f6f6;
          }
        }
        .template-cover {
          width: 100%;
          padding: 10px;
          position: relative;
          box-shadow: inset 0px -1px 0px 0px rgba(209, 209, 209, 0.5);
          img {
            width: auto;
            height: auto;
            max-width: 100%;
            min-height: 100px;
            max-height: 590px;
          }

          .vip-recommend {
            position: absolute;
            left: 5px;
            top: 5px;
            color: #fff;
            background: #f5a623;
            font-size: 12px;
            padding: 3px 10px;
            border-radius: 4px;
          }

          .vip-level {
            display: block;
            position: absolute;
            top: 8px;
            right: 14px;
            width: 36px;
            height: 22px;
            border-radius: 4px;
            background: url(/dyassets/images/person/vip.svg) no-repeat center center / contain;
          }

          .info-mask {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(102, 102, 102, 0.3);
            box-shadow: inset 0px -1px 0px 0px rgba(209, 209, 209, 0.5);
            opacity: 0;
            transition: all .3s;

            .like-info {
              position: absolute;
              left: 5px;
              top: 5px;
              width: 25px;
              height: 25px;
              border-radius: 4px;
              background: #fff;

              font-size:12px;
              color:#969799;
              .iconfont {
                margin-left: 2px;
                font-size: 20px;
                color: #d8dee3;
              }
              .icon-xihuan {
                cursor: pointer;
                &:hover {
                  color: #adb6c4;
                }
                &.active {
                  color: #f52281;
                }
              }
            }

            .preview-info {
              position: absolute;
              right: 5px;
              top: 5px;
              font-size: 12px;
              color: #fff;
              padding: 5px 15px;
              background: #0079fa;
              border-radius: 4px;

              a {
                color: #fff;
                text-decoration: none;
              }
            }
          }

          &:hover .info-mask {
            opacity: 1;
          }
        }

        .template-intro {
          font-size: 14px;
          padding: 10px;
          overflow: hidden;

          .template-title {
            float: left;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #4a4a4a;
          }

          .template-view {
            float: right;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #969799;
            margin-top: 2px;
          }
        }

        .create-info-blank {
          display: flex;
          i {
            display: block;
            width: 100%;
            min-height: 434px;
            background: #f6f6f6 url(/dyassets/images/create-project.png) no-repeat center/105px 87px;
          }
        }

        .template-intro {
          height: 45px;
          padding: 15px 10px;
          .template-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            max-width: 155px;
          }
        }
      }
    }

    .chart-template-list ul li {
      .create-chart-blank {
        i {
          display: block;
          width: 100%;
          height: 127px;
          background: #f6f6f6 url(/dyassets/images/create-project.png) no-repeat center/105px 87px;
        }
      }
    }
  }
}
