:host {
  width: 290px;
  overflow: hidden;
  font-size: 12px;
  text-decoration: none;
  justify-content: end;

  .icon {
    position: relative;
    top: 2px;
  }

  .header-container {
    width: 290px;
    height: 50px;
    background: #303133;
    position: fixed;
    top: 0;
    left: calc(50% - 145px);
    right: 0;
    z-index: 109;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #434343;
    }
  }

  .ex-share-container {
    width: 100%;

    #exportBtn {
      &:hover {
        i {
          background: url('/dyassets/images/export-active.svg') no-repeat center;
        }
      }
    }

    #publishBtn {
      &:hover {
        i {
          background: url('/dyassets/images/share-active.svg') no-repeat center;
        }
      }
    }

    .ex-share {
      box-sizing: border-box;
      width: 41px;
      height: 17px;
      margin-right: 20px;
      vertical-align: middle;
      background: #313131;
      color: #ffffff;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: #129cff;
      }

      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;

        &::before {
          content: '\3000';
        }
      }
    }

    a:nth-of-type(1) i {
      background: url('/dyassets/images/export.svg') no-repeat center;
    }

    a:nth-of-type(2) i {
      background: url('/dyassets/images/share.svg') no-repeat center;
    }
  }
}

.change-page {
  position: absolute;
  top: 4px;
  color: #fff;
  padding: 8px 21px;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
    'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;
  text-decoration: underline;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}

.topbar-box {
  width: 23%;
  height: 50px;
  background: transparent;
  margin-right: 0;
  display: inline-block;
}

.topbar-padding {
  width: 135%;
  height: 50px;
  background: transparent;
  margin-right: 0;
}

.topbar {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  // width: 200%;

  .locked {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
  }

  div {
    cursor: pointer;
    user-select: none;
    margin-right: 12px;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
      'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    margin-top: 1px;
    line-height: 38px;

    &:first-child {
      margin-left: 30px;
    }

    i {
      margin-right: 5px;
      font-size: 12px;
      vertical-align: 1px;
    }
  }

  button {
    width: 44px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
      'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    // color: #ffffff;
    border: none;
    background: transparent;
    color: #a4abb3;
    cursor: pointer;
    float: left;
    height: 50px;
    margin: 0 14px 0 0;
    padding: 7px 8px 5px 8px;

    &:hover {
      background: #242424;
    }

    &:nth-child(2) {
      margin: 0 14px 0 0;
    }

    i {
      margin-right: 5px;
    }

    &.disabled {
      opacity: 0.5;

      &:hover {
        background: transparent;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .line {
    width: 1px;
    height: 18px;
    background-color: #ffffff;
    opacity: 0.16;
    margin-right: 14px;
  }

  .iconfont {
    font-size: 14px !important;
  }

  .title {
    display: inline-block;
    height: 40px;
    color: #ffffff;
    line-height: 41px;

    i {
      display: block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      margin: 0 auto;
      font-size: 18px;
      top: 0;

      &:before {
        content: unset;
        font-size: 18px;
      }
    }

    .icon-undo {
      background: url('/dyassets/images/layer/undo.svg') no-repeat;
    }

    .icon-redo {
      background: url('/dyassets/images/layer/redo.svg') no-repeat;
    }

    p {
      margin-top: 4px;
      height: 17px;
      line-height: 17px;
    }
  }

  .title-arrow {
    width: 28px;

    .icon-box {
      margin: 0;
      display: flex;
      align-items: center;
      float: unset;

      .icon-arrow {
        margin-left: 4px;
        width: 6px;
        height: 4px;
        background: url('/dyassets/images/layer/arrow.svg') no-repeat;
      }

      .align-icon-l {
        background: url('/dyassets/images/layer/align-l.svg') no-repeat !important;
      }

      .icon-layer {
        background: url('/dyassets/images/layer/icon-layer.svg') no-repeat !important;
      }
    }
  }

  ul {
    padding: 4px 0;
    display: none;
    position: absolute;
    z-index: 100 !important;
    background-color: #363738;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    margin-left: -15px;
    margin-top: -1px;
    width: 104px;
    border-radius: 2px;

    .icon-header {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      color: #fff;
      display: flex;
      align-items: center;
    }

    li:hover {
      background-color: #0079fa;
    }
  }

  .drop-list {
    &:hover {
      ul {
        display: block;
      }
    }
  }

  .align-icon {
    width: 13px;
    height: 13px;
  }
}

:host ::ng-deep {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Microsoft YaHei',
    'Hiragino Sans GB', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, 'Monaco', 'Menlo', 'Consolas', sans-serif !important;
}
