<div class="pay-data-container">
  <i class="icon iconfont icon-x" (click)='close()'></i>
  <h4>订单确认</h4>
  <div class="tab-select">
    <div class="price normal-price" (click)="selectOption(true)" [ngClass]="{'active': selectValue}">
      <label>
        <input type="radio" name="select_type" class="a-radio" [(checked)]="selectValue">
        <span class="b-radio"></span>
      </label>
      <div class="text-box normal-text">
        <div class="icon-corner" *ngIf="!isNoDiscount && dataItem.geotype === '第三方'">
          <p>{{discountNum}}折</p>
        </div>
        <div class="img"><img src="{{dataItem.thumb}}" alt=""></div>
        <div class="wrapper">
          <h5>{{dataItem.title}}</h5>
          <p>来源：{{dataItem.source}}</p>
          <p><span>年份：{{dataItem.time | formatDataTime}}</span><span>渠道：{{dataItem.geotype}}</span></p>
        </div>
        <div class="text-price normal-text-price">
          <p class="show-price" [ngClass]="{'active': !isNoDiscount && dataItem.geotype === '第三方'}"><i></i><span>{{price}}</span></p>
          <p class="old-price" *ngIf="!isNoDiscount && dataItem.geotype === '第三方'">原价 &nbsp;&nbsp;<i></i>{{oldPrice}}</p>
        </div>
      </div>
    </div>
    <div class="price discount-price" (click)="selectOption(false)" [ngClass]="{'active': !selectValue}"
      *ngIf="isNoDiscount && dataItem.geotype === '自营'">
      <label>
        <input type="radio" name="select_type" class="a-radio" [(checked)]="!selectValue">
        <span class="b-radio"></span>
      </label>
      <div class="text-box discount-text">
        <!-- <h5><a [routerLink]="['/pages/price/index']">5454</a></h5> -->
        <div class="img"></div>
        <div class="wrapper">
          <h5>成为高级会员</h5>
          <p>· 每月可下载100条免费/自营付费数据</p>
          <p>· 享受第三方付费数据9折优惠</p>
        </div>
        <div class="text-price discount-text-price"><span>￥49.9</span><span>/月</span></div>
      </div>
    </div>
    <div *ngIf="isNoDiscount && dataItem.geotype === '第三方'" class="go-price" (click)="goPrice()">
      <a>成为高级会员享受第三方合作数据9.5折优惠（￥49.9/月）</a></div>
  </div>
  <button (click)="payData()">支付{{payPrice}}元</button>
</div>
