<!-- 矩形 -->
<div *ngIf="data?.setting.shapeType === 'rectangle'" class="block-shape block-inner-box" [ngStyle]="shapeBoxStyles">
  <svg width="100%" height="100%" preserveAspectRatio="none" stroke-miterlimit="60" version="1.1" xmlns="http://www.w3.org/2000/svg">


    <defs *ngIf="shapeStyles.linearGradient">
      <linearGradient [id]="this.data.setting.blockId" 
      [attr.x1]="shapeStyles.linearGradient.position.x1"
      [attr.y1]="shapeStyles.linearGradient.position.y1"
      [attr.x2]="shapeStyles.linearGradient.position.x2"
      [attr.y2]="shapeStyles.linearGradient.position.y2"
      >
        <stop *ngFor="let item of shapeStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
      </linearGradient>
    </defs>


    <rect class="svg-element" (mousemove)="showTooltip($event);" (mouseout)="hideTooltip();" [attr.width]="shapeStyles.width"
      [attr.height]="shapeStyles.height" [attr.opacity]="shapeStyles.opacity" [ngStyle]="showLinearGradient"
      [attr.fill]="shapeStyles.fill" [attr.rx]="shapeStyles.rx" [attr.ry]="shapeStyles.ry" [attr.x]="shapeStyles.x"
      [attr.y]="shapeStyles.y" [attr.stroke]="shapeStyles.stroke" [attr.stroke-width]="shapeStyles.strokeWidth"
      [attr.stroke-dasharray]="shapeStyles.strokeDasharray"></rect>
  </svg>
</div>

<!-- 圆角矩形 -->
<div *ngIf="data?.setting.shapeType === 'round-rectangle'" class="block-shape block-inner-box" [ngStyle]="shapeBoxStyles">
  <svg width="100%" height="100%" preserveAspectRatio="none" stroke-miterlimit="60" version="1.1" xmlns="http://www.w3.org/2000/svg">

    <defs *ngIf="shapeStyles.linearGradient">
      <linearGradient [id]="this.data.setting.blockId" 
      [attr.x1]="shapeStyles.linearGradient.position.x1"
      [attr.y1]="shapeStyles.linearGradient.position.y1"
      [attr.x2]="shapeStyles.linearGradient.position.x2"
      [attr.y2]="shapeStyles.linearGradient.position.y2"
      >
        <stop *ngFor="let item of shapeStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
      </linearGradient>
    </defs>

    <rect class="svg-element" (mousemove)="showTooltip($event);" [ngStyle]="showLinearGradient" (mouseout)="hideTooltip();"
      [attr.width]="shapeStyles.width" [attr.height]="shapeStyles.height" [attr.opacity]="shapeStyles.opacity"
      [attr.fill]="shapeStyles.fill" [attr.rx]="shapeStyles.rx" [attr.ry]="shapeStyles.ry" [attr.x]="shapeStyles.x"
      [attr.y]="shapeStyles.y" [attr.stroke]="shapeStyles.stroke" [attr.stroke-width]="shapeStyles.strokeWidth"
      [attr.stroke-dasharray]="shapeStyles.strokeDasharray"></rect>
  </svg>
</div>


<!-- 圆形 -->
<div *ngIf="data?.setting.shapeType === 'oval'" class="block-shape block-inner-box" [ngStyle]="shapeBoxStyles">
  <svg width="100%" height="100%" preserveAspectRatio="none" stroke-miterlimit="60" version="1.1" xmlns="http://www.w3.org/2000/svg">

    <defs *ngIf="shapeStyles.linearGradient">
      <linearGradient [id]="this.data.setting.blockId" 
      [attr.x1]="shapeStyles.linearGradient.position.x1"
      [attr.y1]="shapeStyles.linearGradient.position.y1"
      [attr.x2]="shapeStyles.linearGradient.position.x2"
      [attr.y2]="shapeStyles.linearGradient.position.y2"
      >
        <stop *ngFor="let item of shapeStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
      </linearGradient>
    </defs>

    <ellipse class="svg-element" (mousemove)="showTooltip($event);" [ngStyle]="showLinearGradient" (mouseout)="hideTooltip();"
      [attr.opacity]="shapeStyles.opacity" [attr.fill]="shapeStyles.fill" [attr.cx]="shapeStyles.cx" [attr.cy]="shapeStyles.cy"
      [attr.rx]="shapeStyles.rx" [attr.ry]="shapeStyles.ry" [attr.stroke]="shapeStyles.stroke" [attr.stroke-width]="shapeStyles.strokeWidth"
      [attr.stroke-dasharray]="shapeStyles.strokeDasharray"></ellipse>
  </svg>
</div>


<!-- 三角形 -->
<div *ngIf="data?.setting.shapeType === 'triangle'" class="block-shape block-inner-box" [ngStyle]="shapeBoxStyles">
  <svg width="100%" height="100%" preserveAspectRatio="none" stroke-miterlimit="60" version="1.1" xmlns="http://www.w3.org/2000/svg">

    <defs *ngIf="shapeStyles.linearGradient">
      <linearGradient [id]="this.data.setting.blockId" 
      [attr.x1]="shapeStyles.linearGradient.position.x1"
      [attr.y1]="shapeStyles.linearGradient.position.y1"
      [attr.x2]="shapeStyles.linearGradient.position.x2"
      [attr.y2]="shapeStyles.linearGradient.position.y2"
      >
        <stop *ngFor="let item of shapeStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
      </linearGradient>
    </defs>

    <polygon class="svg-element" [attr.points]="data.setting?.path" [ngStyle]="showLinearGradient" (mousemove)="showTooltip($event);"
      (mouseout)="hideTooltip();" [attr.width]="shapeStyles.width" [attr.height]="shapeStyles.height" [attr.opacity]="shapeStyles.opacity"
      [attr.fill]="shapeStyles.fill" [attr.stroke]="shapeStyles.stroke" [attr.stroke-width]="shapeStyles.strokeWidth"
      [attr.stroke-dasharray]="shapeStyles.strokeDasharray"></polygon>
  </svg>
</div>

<!-- 五边形 -->
<div *ngIf="data?.setting.shapeType === 'pentagon'" class="block-shape block-inner-box" [ngStyle]="shapeBoxStyles">
  <svg width="100%" height="100%" preserveAspectRatio="none" stroke-miterlimit="60" version="1.1" xmlns="http://www.w3.org/2000/svg">

    <defs *ngIf="shapeStyles.linearGradient">
      <linearGradient [id]="this.data.setting.blockId" 
      [attr.x1]="shapeStyles.linearGradient.position.x1"
      [attr.y1]="shapeStyles.linearGradient.position.y1"
      [attr.x2]="shapeStyles.linearGradient.position.x2"
      [attr.y2]="shapeStyles.linearGradient.position.y2"
      >
        <stop *ngFor="let item of shapeStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
      </linearGradient>
    </defs>

    <polygon class="svg-element" [attr.points]="data.setting?.path" [ngStyle]="showLinearGradient" (mousemove)="showTooltip($event);"
      (mouseout)="hideTooltip();" [attr.width]="shapeStyles.width" [attr.height]="shapeStyles.height" [attr.opacity]="shapeStyles.opacity"
      [attr.fill]="shapeStyles.fill" [attr.stroke]="shapeStyles.stroke" [attr.stroke-width]="shapeStyles.strokeWidth"
      [attr.stroke-dasharray]="shapeStyles.strokeDasharray"></polygon>
  </svg>
</div>

<!-- 直线 -->
<div *ngIf="data?.setting.shapeType === 'line'" class="block-shape block-inner-box svg-element" [ngStyle]="shapeBoxStyles">
  <div class="wrap-box">

    <!-- 左侧箭头 -->
    <!-- <svg width="100%" height="100%">
      <defs>
        <marker id="arrow-start" markerWidth="12" markerHeight="12" viewBox="0 0 12 12" refX="6" refY="6" orient="auto">
          <path d="M10,2 L2,6 L10,10 L6,6 L10,2" [attr.fill]="shapeStyles.stroke" />
        </marker>
      </defs>
    </svg> -->

    <!-- 右侧箭头 -->
    <!-- <svg width="100%" height="100%">
      <defs>
        <marker id="arrow-end" markerWidth="12" markerHeight="12" viewBox="0 0 12 12" refX="6" refY="6" orient="auto">
          <path d="M2,2 L10,6 L2,10 L6,6 L2,2" [attr.fill]="shapeStyles.stroke" />
        </marker>
      </defs>
    </svg> -->

    <!-- 直线 -->
    <svg width="100%" height="100%" class="line-wrap">
      <defs *ngIf="shapeStyles.linearGradient">
        <linearGradient [id]="this.data.setting.blockId" 
        [attr.x1]="shapeStyles.linearGradient.position.x1"
        [attr.y1]="shapeStyles.linearGradient.position.y1"
        [attr.x2]="shapeStyles.linearGradient.position.x2"
        [attr.y2]="shapeStyles.linearGradient.position.y2"
        >
          <stop *ngFor="let item of shapeStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
        </linearGradient>
      </defs>
      
      <line class="line" (mousemove)="showTooltip($event);" (mouseout)="hideTooltip();" [ngStyle]="showLinearGradient" [attr.width]="shapeStyles.width"
        [attr.height]="shapeStyles.height" [attr.opacity]="shapeStyles.opacity" 
        [attr.x1]="shapeStyles.x1" [attr.y1]="shapeStyles.y1" [attr.x2]="shapeStyles.x2" [attr.y2]="shapeStyles.y2"
        [attr.stroke]="shapeStyles.stroke" [attr.stroke-width]="shapeStyles.strokeWidth" [attr.stroke-dasharray]="shapeStyles.strokeDasharray"
        [attr.marker-start]="shapeStyles.markerStart" [attr.marker-end]="shapeStyles.markerEnd"></line>
    </svg>

    <!-- 拖拽把柄 -->
    <div class="line-item line-item1" [ngStyle]="dragItemOneStyles"></div>
    <div class="line-item line-item2" [ngStyle]="dragItemTwoStyles"></div>
  </div>
</div>

<!-- 图标 -->
<div *ngIf="data?.setting.shapeType === 'icon'"
  class="block-shape block-inner-box" [ngStyle]="shapeBoxStyles"
  (mousemove)="showTooltip($event);"
  (mouseout)="hideTooltip();"
>
  <div class="svgIcon" style="width: 100%; height: 100%;" [innerHTML]='iconHTML | html' [ngStyle]="iconStyles"> 
  </div>
  <svg width="100%" height="100%" style="position:absolute;">
    <defs *ngIf="iconStyles.linearGradient">
      <linearGradient [id]="this.data.setting.blockId" 
      [attr.x1]="iconStyles.linearGradient.position.x1"
      [attr.y1]="iconStyles.linearGradient.position.y1"
      [attr.x2]="iconStyles.linearGradient.position.x2"
      [attr.y2]="iconStyles.linearGradient.position.y2"
      >
        <stop *ngFor="let item of iconStyles.colorList" [attr.offset]="item.offset" [attr.stop-color]="item.color"/>
      </linearGradient>
    </defs>
  </svg>
</div>
