.video-container {
  width: 800px;
  height: 450px;
  position: relative;
  video {
    object-fit: fill;
  }
}

.close-tag {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -35px;
  background: url(/dyassets/images/share/close.png) no-repeat center/cover;
  cursor: pointer;
}
