<!-- C 绑定和修改邮箱 1. 输入登录密码 -->
<div class="modal fade" bsModal #resetMailModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 第一步、验证登录密码 -->
                <div class="rm-verify-pwd" #rmVerifyPwdDiv>
                    <form>
                        <div class="form-group">
                            <input class="form-control" (keydown)="onKeyDown($event)" [(ngModel)]="password" id="rmVerifyPwInput" type="password" name="password" placeholder="密码">
                        </div>
                    </form>
                    <div class="error-tip">{{errorTip}}</div>
                    <a href="javascript:;" class="btn done-btn next-step" (click)="onVerityPwd()"><div>下一步</div></a>
                </div>
                <!-- 第二步、新绑定邮箱-->
                <div class="rm-bind-new-mail" hidden #rmBindNewMailDiv>
                    <form>
                        <div class="form-group">
                            <input class="form-control" (keydown)="onKeyDown($event)" [(ngModel)]="newEmail" id="rmNewMailInput" name="email" placeholder="邮箱">
                        </div>
                    </form>
                    <div class="error-tip">{{errorTip}}</div>
                    <a href="javascript:;" class="btn done-btn next-step" (click)="onBindNewMail()"><div>下一步</div></a>
                </div>
                <!-- 第二步、重置邮箱 1. 先输入原绑定邮箱 ->> 跳到新绑定邮箱 -->
                <div class="rm-reset-mail" hidden #rmResetMailDiv>
                    <form>
                        <div class="form-group">
                            <input class="form-control" (keydown)="onKeyDown($event)" [(ngModel)]="oldEmail" id="rmOldMailInput" name="email" placeholder="邮箱">
                        </div>
                    </form>
                    <div class="error-tip">{{errorTip}}</div>
                    <a href="javascript:;" class="btn done-btn next-step" (click)="onResetOldMail()"><div>下一步</div></a>
                </div>
                <!-- 第三步、提示发送成功 -->
                <div class="rm-reset-mail" hidden #rmBindSuccessDiv>
                    <p class="small-tip">温馨提示：</p>
                    <div class="security-confirm" >请在24小时内登录邮箱{{newEmail}}进行验证，确保顺利完成绑定。</div>
                    <a href="javascript:;" class="btn done-btn done" (click)="onBindSuccess()"><div>完成</div></a>
                </div>
            </div>
        </div>
    </div>
</div>
