<div class="group-container">
  <div
    class="group-container-item"
    *ngFor="let item of data.setting.props.children"
    [ngStyle]="{
      left: item.groupLeft + 'px',
      top: item.groupTop + 'px',
      transform: 'rotate(' + item.props.size.rotate + 'deg)'
    }"
    [id]="item.blockId"
  >
    <ng-container *ngIf="item.props.children; else notGroup">
      <lx-group [data]="{ setting: item }"></lx-group>
    </ng-container>
    <ng-template #notGroup>
      <lx-image *ngIf="item.type === 'image'" [groupData]="item"></lx-image>
    </ng-template>
  </div>
</div>
