<div class="align-box table-chart-text-style">
  <div container="body" tooltip="左对齐" (click)="onAlignedClick('l', $event)" class="align-l text-style-btn"><i class="icon align-icon align-icon-l"></i></div>
  <div container="body" tooltip="水平居中" (click)="onAlignedClick('c', $event)" class="align-c text-style-btn"><i class="icon align-icon align-icon-c"></i></div>
  <div container="body" tooltip="右对齐" (click)="onAlignedClick('r', $event)" class="align-r text-style-btn"><i class="icon align-icon align-icon-r"></i></div>
  <div container="body" tooltip="顶对齐" (click)="onAlignedClick('t', $event)" class="align-t text-style-btn"><i class="icon align-icon align-icon-t"></i></div>
  <div container="body" tooltip="垂直居中" (click)="onAlignedClick('m', $event)" class="align-m text-style-btn"><i class="icon align-icon align-icon-m"></i></div>
  <div container="body" tooltip="底对齐" (click)="onAlignedClick('b', $event)" class="align-b text-style-btn"><i class="icon align-icon align-icon-b"></i></div>
</div>